<h1>Statistics</h1>

<%= athletes_by_age %>

<br>
<br>
<br>

<%=  athletes_by_country %>

<br>
<br>
<br>
<%= results_by_country %>
<br>
<br>
<br>
<%= competitions_by_year %><br>
<br>
<br>
<br>
<%= competitions_by_month %>
<%#= bar_chart @athletes.top(:age, 10) %>
